<h1>Hi! Please confirm your email!</h1>

<p>
    Merci de valider votre compte en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Valider votre compte</a>.
    Ce lien expire dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement !
</p>
