{% extends "base.html.twig" %}

{% block title %}Afficher Produits au format json
{% endblock %}

{% block body %}

    <div id="produits-parent">

    </div>
    <script src="{{ asset('js/produits.js') }}"></script>
{% endblock %}